/* BG */

@keyframes bg {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-2250px, 0, 0);
  }
}

#bg {
  background-size: 2250px auto;
  width: 6750px;
}

/* Wide */

@media screen and (max-width: 1680px) {
  /* BG */

  @keyframes bg {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(-1500px, 0, 0);
    }
  }

  #bg {
    background-size: 1500px auto;
    width: 4500px;
  }
}

/* Normal */

@media screen and (max-width: 1280px) {
  /* BG */

  @keyframes bg {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(-750px, 0, 0);
    }
  }

  #bg {
    background-size: 750px auto;
    width: 2250px;
  }
}

/* Mobile */

@media screen and (max-width: 736px) {
  /* BG */

  @keyframes bg {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(-300px, 0, 0);
    }
  }

  #bg {
    background-size: 300px auto;
    width: 900px;
  }
}

/* Mobile (Portrait) */

@media screen and (max-width: 480px) {
  /* BG */

  @keyframes bg {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(-412.5px, 0, 0);
    }
  }

  #bg {
    background-size: 412.5px auto;
    width: 1237.5px;
  }
}
